Django==5.0.8
django-auditlog
django-bootstrap4-form
django-bootstrap5
django-bootstrap5-form
django-crispy-forms
crispy-bootstrap5
django-filter
django-jazzmin
django-password-validators
python-dotenv
whitenoise
psycopg2-binary
gunicorn