{% extends 'base.html' %}
{% load static %}
{% load dashboard_tags %}
{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Services</h2>
    <a href="{% url 'inventories:service_create' %}" class="btn btn-primary mb-3">Add New Service</a>
</div>
<hr>



<table class="table">
    <thead>
        <tr>
            <th>Service ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>Is active</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for service in services %}
        <tr>
            <td><a href="{% url 'inventories:service_detail' service.pk %}">{{ service.service_id }}</a></td>
            <td>{{ service.service_name }}</td>
            <td>{{ service.report_type }}</td>
            <td>{{ service.is_active }}</td>
            <td>${{ service.service_price }}</td>
            <td>
                <a href="{% url 'inventories:service_update' service.pk %}" class="btn btn-warning btn-sm">Edit</a>
                <a href="{% url 'inventories:service_delete' service.pk %}" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">No services found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="right-aligned mt-3">
    <a href="{% url 'inventories:inventory_selection' %}" class="btn btn-secondary mb-3">Back</a>
</div>
{% endblock %}