{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<h2>{% if form.instance.pk %}Edit{% else %}Create{% endif %} Service</h2>
<hr>
<form method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-4">
        {{ form.service_id|as_crispy_field }}
        {{ form.service_description|as_crispy_field }}
        {{ form.is_active|as_crispy_field }}
        </div>
        <div class="col-md-4">
        {{ form.service_name|as_crispy_field }}
        {{ form.service_price|as_crispy_field }}
        </div>
    </div>
    <hr>
    <div class="right-aligned mt-3">
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="{% url 'services:service-list' %}" class="btn btn-secondary">Cancel</a>
    </div>
</form>
{% endblock %}