{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Service Details</h1>
<dl>
    <dt>Service ID:</dt>
    <dd>{{ service.service_id }}</dd>
    
    <dt>Name:</dt>
    <dd>{{ service.service_name }}</dd>
    
    <dt>Description:</dt>
    <dd>{{ service.service_description }}</dd>
    
    <dt>Price:</dt>
    <dd>{{ service.service_price }}</dd>
</dl>

<a href="{% url 'services:service-update' service.pk %}" class="btn btn-secondary mt-3">Edit Service</a>
<a href="{% url 'services:service-delete' service.pk %}" class="btn btn-danger mt-3">Delete Service</a>
<a href="{% url 'services:service-list' %}" class="btn btn-secondary mt-3">Back to Service List</a>
{% endblock %}